@media (min-width: 768px) {
	.bar{
		float: left;width:220px;height: 100%;
		overflow: auto;text-align: center;
		float: left;width:220px;
		overflow: auto;text-align: center;
		box-shadow:5px 10px 5px 5px #ccc;
		-webkit-box-shadow:5px 10px 5px 5px #ccc;
		-moz-box-shadow:5px 10px 5px 5px #ccc;
	}
	.bar-logop{padding:15px 0;}
	.bar-logop img{
		width: 110px;height: 110px;
		border-radius: 60px;
		-webkit-border-radius: 60px;
		-moz-border-radius: 60px;
		border:5px solid #fff;
	}
	.bar-nav{margin-top: 15px}
	.bar-nav li{margin-bottom: 5px}
	.bar-nav a{
		padding: 10px 0;
		margin:0 10px;
	}
	.content{margin-left: 220px;padding:0 15px;height: 100%;}
}

@media (max-width: 767px) and (min-width: 524px){
	.bar{
		padding:0 20px;height: 90px;
		box-shadow:5px 8px 5px #ccc;
	}
	.bar-logop,.bar-logop img{
		box-sizing:border-box;
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
	}
	.bar-logop{
		float: left;padding: 8px 0;height: 100%;
	}
	.bar-logop img{
		height: 100%;
		border-radius: 42px;
		-webkit-border-radius: 42px;
		-moz-border-radius: 42px;
		border:3px solid #fff;
	}
	.bar-content{
		overflow: hidden;height: 100%;padding-left: 10px;
		display:-moz-box;
		display:-webkit-box;
		display:box;
		-moz-box-align:center;
		-webkit-box-align:center;
		-o-box-align:center;
		box-align:center;
	}
	.bar-title{
		-moz-box-flex:0;
		-webkit-box-flex:0;
		box-flex:0;
	}
	.bar-nav{margin-left: 5px;}
	.bar-nav li{float: left;}
	.bar-nav a{
		padding: 10px 20px;
		margin-right:5px;
	}
	.content{padding: 10px 5px 0 5px;}
}

@media (max-width : 523px) {
	.bar{
		padding:0 20px;height: 90px;
		box-shadow:5px 8px 5px #ccc;
	}
	.bar-logop,.bar-logop img,.bar-content-menu a{
		box-sizing:border-box;
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
	}
	.bar-logop{float: left;padding: 8px 0;height: 100%;}
	.bar-logop img{
		height: 100%;
		border-radius: 42px;
		-webkit-border-radius: 42px;
		-moz-border-radius: 42px;
		border:3px solid #fff;
	}
	.bar-content{
		position: relative;
		height: 100%;padding-left: 10px;
		display:-moz-box;
		display:-webkit-box;
		display:box;
		-moz-box-align:center;
		-webkit-box-align:center;
		-o-box-align:center;
		box-align:center;
	}
	.bar-nav{
		position: absolute;right: 0;top: 50%;background-color:#454545;margin-top: 19px;
		width: 200px;border : 1px solid #999;padding-top: 5px;display: none;z-index: 100;
		box-shadow:5px 5px 5px #999;
		-webkit-box-shadow:5px 5px 5px #999;
		-moz-box-shadow:5px 5px 5px #999;
		border-radius: 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
	}
	.bar-nav li{margin-bottom: 5px}
	.bar-nav a{
		padding: 10px 0;text-align: center;
		margin:0 10px;
	}
	.bar-content-menu{
		display: block!important;
		height: 40px;
		-moz-box-flex:1;
		-webkit-box-flex:1;
		box-flex:1;
	}
	.bar-content-menu a{
		display: block;padding:0 10px;
		float: right;height: 100%;
		font-size: 14px;background-color: #454545;
		border:1px solid #999;cursor: pointer;
		border-radius: 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
	}
	.bar-content-menu a i{display: block;margin-top: 7px;height: 3px;width: 28px;background-color: #fff}
	.bar-content-menu a i:first-child{margin-top: 8px;}
	.bar-content-menu a.selected{background-color: #676767}
	.content{padding: 10px 5px 0 5px;}
}
@media (max-width : 354px) {
	.bar-title{display: none;}
	.bar-nav-title{
		display: block!important;
	}
	.bar-nav .bar-nav-title a{color: #99998E;font-size: 20px;}
	.bar-nav .bar-nav-title a:hover{background-color: transparent;text-shadow:0 0 5px green;color: #99998E;}
	.content-item{float: none;margin-right: 0}
	.content-item-title{border-bottom: 0}
	.content-item-info{margin:0 0 10px 0;}
}
