.panel-table.panel{border: 0;position: relative;}
.panel-table.panel .panel-heading{border-width:1px 1px 0 1px;border-style: solid;}
.mtable.panel-body{padding:0;}
.mtable .table-responsive table{margin-bottom: 5px}
.mtable .table-responsive th{padding: 0;}
.mtable .table-responsive th>div{padding: 8px;position: relative;}
.mtable h2{margin: 0;padding: 20px 0;border-bottom: 1px solid #ddd}
.mpagination{padding: 3px;}
.mpagination>div>span{display: inline-block;}
.mpagination .form-control{display: inline-block;width: auto;}
.mpagination input.form-control{vertical-align: middle;}
.mpagination .glyphicon:hover{background-color: #e2e2e2}
.mpagination .page{width: 80px}