html,body{width: 100%;height: 100%;}
body{font-size: 12px;}
p,body{margin:0;padding: 0;}
.mgt5{margin-top: 5px}
.tac{text-align: center;}
.fl{float: left}
.clearfix{*zoom:1;}
.clearfix:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}

.west{position: absolute;top: 0;left:0;bottom: 0;width: 199px;border-right: 1px solid #d2d2d2;overflow: auto;}

.panel-title{padding: 5px;font-size: 16px;background-color: #e2e2e2;cursor: pointer;border-bottom: 1px solid #d2d2d2}
.panel-content{border-bottom: 1px solid #d2d2d2;padding-bottom: 5px;}

.item{float: left;cursor: move;margin:5px 0 0 5px;}
.item:hover{opacity: 0.6;filter:alpha(opacity=60);}

.proxy{position: absolute;z-index: 10;display: none;}

.center{position: absolute;top: 0;left: 200px;bottom: 0;right: 0;overflow: auto;}