[ms-controller],[ms-important]{display:none !important;}
.h100{height: 100%;}
.w100{width: 100%}
.posr{position: relative;}
.mgt10{margin-top: 10px;}
.mgb0{margin-bottom: 0}
.pad0{padding: 0!important}
.loading{display: inline-block;width: 32px;height: 32px;background: url(image/loading1.gif) no-repeat 0 0;}
.notallowed{cursor: not-allowed !important;}