/*swipe插件by linyz 2015-07-11*/
.swipe{
	background-color: #fff;
	width: 100%;height: 100%;
	overflow: hidden;
	position: relative;
}
.swipe-x>.swipe-inner{
	height: 100%;
	-webkit-flex-flow: row nowrap;
	-moz-flex-flow:row nowrap;
	-ms-flex-flow:row nowrap;
  	flex-flow: row nowrap;
  	box-orient: horizontal;
  	-webkit-box-orient: horizontal;
  	-moz-box-orient: horizontal;
  	-ms-box-orient: horizontal;
}
.swipe-y>.swipe-inner{
	flex-flow: column nowrap;
  	-webkit-flex-flow: column nowrap;
  	-moz-flex-flow: column nowrap;
  	-ms-flex-flow: column nowrap;
  	box-orient: vertical;
  	-webkit-box-orient: vertical;
  	-moz-box-orient: vertical;
  	-ms-box-orient: vertical;
}
.swipe-inner{
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
  	display: -webkit-box;
 	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex; 
}
.swipe,.swipe-inner{padding:0;margin:0;}
.swipe-item{
	display: block;
	-webkit-box-flex: 1;
  	-moz-box-flex: 1;
  	-webkit-flex: 1;
  	-ms-flex: 1;
  	flex: 1;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.swipe-transition{
	transition: transform 0.3s;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	-ms-transition: -ms-transform 0.3s;
	-o-transition: -o-transform 0.3s;
	transition-timing-function: ease;
	-webkit-transition-timing-function: ease;
	-moz-transition-timing-function: ease;
	-ms-transition-timing-function: ease;
	-o-transition-timing-function: ease;
}
.swipe-nav{
	position: absolute;
}
.swipe-nav-dot{
	width: 8px;height: 8px;border-radius: 100%;background-color: #000;opacity: .2;
}
.swipe-nav-dot.selected{
	background-color: #666666;opacity: 1;
}
/*right left*/
.swipe-nav-right,.swipe-nav-left{
	top: 50%;
	transform: translate3d(0,-50%,0);
	-webkit-transform: translate3d(0,-50%,0);
	-moz-transform: translate3d(0,-50%,0);
	-ms-transform: translate3d(0,-50%,0);
	-o-transform: translate3d(0,-50%,0);
}
.swipe-nav-right span,.swipe-nav-left span{
	display: block;margin: 5px 0;
}
/*right*/
.swipe-nav-right{
	right: 10px;
}
/*left*/
.swipe-nav-left{
	left: 10px;
}
/*bottom top*/
.swipe-nav-bottom,.swipe-nav-top{
	left: 50%;
	transform: translate3d(-50%,0,0);
	-webkit-transform: translate3d(-50%,0,0);
	-moz-transform: translate3d(-50%,0,0);
	-ms-transform: translate3d(-50%,0,0);
	-o-transform: translate3d(-50%,0,0);
}
.swipe-nav-bottom span,.swipe-nav-top span{
	display: inline-block;margin: 0 3px;
}
/*bottom*/
.swipe-nav-bottom{
	bottom: 10px;
}
/*top*/
.swipe-nav-top{
	top: 10px;
}