body{background-color: #eee}
[ms-controller],[ms-important]{display:none !important;}
.h100{height: 100%;}
.w100{width: 100%}
.posr{position: relative;}
.notallowed{cursor: not-allowed !important;}
.cpointer{cursor: pointer;}
/*margin*/
.mgt10{margin-top: 10px;}
.mgb0{margin-bottom: 0}
.mgb5{margin-bottom: 5px;}
/*padding*/
.pad0{padding: 0!important}
.padr0{padding-right: 0!important}
.padl0{padding-left: 0!important}
.padl5{padding-left: 5px!important;}
.padlr1{padding-left: 15px!important;padding-right: 15px!important;}
/**/
.w50{width: 50px}
/*box*/
.db{display: box;display:-webkit-box;}
.dbf1{box-flex:1;-webkit-box-flex:1;}
.dbac{box-align:center;-webkit-box-align:center;}