@media (min-width: 768px){
  
}
body,html{width: 100%;height: 100%;}
.mnavbar{margin-bottom: 0}
.mnavbar .navbar-brand{line-height: 46px;height: auto;}
.mnavbar .navbar-nav .glyphicon{font-size: 1.5em;}
.mcontent{position: relative;}
.main{
	padding-top: 15px;
}