@media (max-width: 768px){
	.mnavbar .navbar-collapse>.navbar-nav{border-bottom:1px solid rgba(255, 255, 255, .1)}
	.mnavbar .navbar-nav li{float: left;width: 50%;}
}
body,html{width: 100%;height: 100%;}
body{background-color: #eee}
.mnavbar{margin-bottom: 0}
.mnavbar .navbar-brand{line-height: 46px;height: auto;font-size: 2em}
.mnavbar .navbar-brand em{font-size: 0.5em;display: inline-block;margin-left: 3px}
.mnavbar .navbar-nav .glyphicon{font-size: 1.5em;}
.mnavbar .navbar-nav a.selected{color: #fff}
.mnavbar .navbar-toggle{margin-top: 22px}

.mpanel .panel-title{font-size: 1.5em;padding: 5px 0}