/*swipe插件by linyz 2015-07-11*/
.swipe{
	background-color: #fff;
	width: 100%;height: 100%;
	overflow: hidden;
	position: relative;
}
.swipe-x>.swipe-inner{
	-webkit-flex-flow: row nowrap;
  	flex-flow: row nowrap;
  	height: 100%;
  	box-orient: horizontal;
  	-webkit-box-orient: horizontal;
}
.swipe-y>.swipe-inner{
	flex-flow: column nowrap;
  	-webkit-flex-flow: column nowrap;
  	box-orient: vertical;
  	-webkit-box-orient: vertical;
}
.swipe-inner{
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	display: -webkit-box;
	display: box;
	display: -webkit-flex;
  	display: flex;
}
.swipe-item{
	display: block;
	-webkit-box-flex: 1;
	box-flex : 1;
	-webkit-flex: 1;
	flex: 1;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.swipe-transition{
	transition: transform 0.3s;
	-webkit-transition: -webkit-transform 0.3s;
	transition-timing-function: ease;
	-webkit-transition-timing-function: ease;
}
.swipe-transition-stop{
	transition-duration : 0s;
	-weblit-transition-duration : 0s;
}
.swipe-nav{
	position: absolute;
}
.swipe-nav-dot{
	width: 8px;height: 8px;border-radius: 100%;background-color: #000;opacity: .2;
}
.swipe-nav-dot.selected{
	background-color: #007aff;opacity: 1;
}
/*right*/
.swipe-nav-right{
	right: 10px;
	top: 50%;
	-webkit-transform: translate3d(0,-50%,0);
	transform: translate3d(0,-50%,0);
}
.swipe-nav-right span{
	display: block;margin: 5px 0;
}
/*bottom*/
.swipe-nav-bottom{
	bottom: 10px;
	left: 50%;
	-webkit-transform: translate3d(-50%,0,0);
	transform: translate3d(-50%,0,0);
}
.swipe-nav-bottom span{
	display: inline-block;margin: 0 5px;
}